body {
  background-color: var(--sky-color);
  overflow: hidden;
}

.App-Wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #000033;
}

.sky {
  width: 100vw;
  height: 100vh;
  background-color: var(--sky-color);
}