.Moon-Wrapper {
  overflow: hidden;
  position: fixed;
  padding: 0;
  transform: translate(-50%);
  rotate: 20deg;
}
.Moon {
  position: fixed;
  border-radius: 50%;
  background: rgb(255, 255, 150);
}


.Moon-Shadow {
  position: fixed;
  transform: translate(var(--moon-phase));
  background: #000033;
  border-radius: var(--shadow-radius);
  opacity: 0.99;
}

.Moon-Shadow::after {
  content: '';
  width: inherit;
  height: inherit;
  position: fixed;
  border-radius: var(--shadow-radius);
  background: var(--sky-color);
}